p {
  font-family: Lato;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  max-width: 25%;
  border: 1px solid grey;
}

// tr:nth-child(even) {background-color: #f2f2f2;}

.d-none {
  display: none;
}

.d-show td {
  background-color: #b1d433;
}

.d-show-second td {
  background-color: #e1f2f3;
}
.d-show td:first-child,
.d-show-second td:first-child {
  text-align: center;
}
