
<ng-container *ngFor="let config of columnsConfig; let i = index;">
  <select *ngIf="i==0 || (i!==0 && columnsConfig[i-1].groupedBy)" name="choose_prices" id="choose_prices" (change)="handleFirstChange($event, config.level)"
    class="deal-offers_info-select">
    <option value="-1">Select group</option>
    <ng-container *ngFor="let item of config.arrayData">

      <option [value]="item.key" *ngIf="item.showInSelect"> {{item.name}}</option>
    </ng-container>
  </select>
</ng-container>
<!-- 
<input type="text" ngxDaterangepickerMd
placeholder="Choose date" (change)="changeDates($event)"/> -->

<table>

  <tr>
    <ng-container *ngFor="let columnItem of columnsConfig[0].arrayData">
      <th *ngIf="columnItem.visible"> {{columnItem.name}}</th>
    </ng-container>
  </tr>

  <ng-container *ngFor="let firstLvlItem of sortedDataSource">

    <!-- RENDERING LEVEL 1 -->
    <tr (click)="showSubItems(firstLvlItem)">
      <ng-container *ngFor="let columnItem of columnsConfig[0].arrayData">
        <td *ngIf="columnItem.visible ">{{firstLvlItem[columnItem.key]}} </td>
      </ng-container>
    </tr>
    <!-- END RENDERING LEVEL 1-->


    <ng-container *ngIf="firstLvlItem?.subitems?.length > 0">
      <ng-container *ngFor="let secondLvlItem of firstLvlItem.subitems">

        <!-- RENDERING LEVEL 2 -->
        <ng-container>
          <tr [ngClass]="{'d-none':!firstLvlItem.checked, 'd-show-second':firstLvlItem.checked}"
            (click)="showSubItems(secondLvlItem)">
            <ng-container *ngFor="let columnItem of columnsConfig[1].arrayData">
              <td *ngIf="columnItem.visible"> {{secondLvlItem[columnItem.key]}} </td>
            </ng-container>
          </tr>
        </ng-container>
        <!-- END RENDERING LEVEL 2 -->

        <ng-container *ngIf="secondLvlItem?.subitems?.length > 0">
          <ng-container *ngFor="let thirdLvlItem of secondLvlItem.subitems">

            <!-- RENDERING LEVEL 3 -->
            <ng-container>
              <tr [ngClass]="{'d-none':!secondLvlItem.checked, 'd-show':secondLvlItem.checked}"
                (click)="showSubItems(secondLvlItem)">
                <ng-container *ngFor="let columnItem of columnsConfig[1].arrayData">
                  <td *ngIf="columnItem.visible">{{thirdLvlItem[columnItem.key]}} </td>
                </ng-container>
              </tr>
            </ng-container>

            <!-- END RENDERING LEVEL 3 -->
          </ng-container>
        </ng-container>

      </ng-container>

    </ng-container>

  </ng-container>
</table>